header{
    background-image: url('../images/background-image.jpg');
}

img{
    width: 120px; 
    margin-bottom: 15px; 
    /*Your code here*/
}

div{
    padding: 30px; 
    margin:5px; 
    /* YOUR CODE HERE */
}
 